<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /db-to-api/

#db + table + column + value
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ([^/]+)/([^/]+)/([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  index.php?db=$1&table=$2&column=$3&value=$4&format=$5 [L,QSA]

#db + table + #id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ([^/]+)/([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  index.php?db=$1&table=$2&value=$3&format=$4 [L,QSA]

#db + table
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  index.php?db=$1&table=$2&format=$3 [L,QSA]

#all else
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]
</IfModule>